.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 3px 27px hsla(0, 0%, 0%, 0.5);
  padding-block: 20px;
  z-index: 4;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.5);
}

.navbar-link {
  position: relative;
  color: black;
  padding-block: 34px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.navbar-list {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid hsla(0, 0%, 50%, 0.1);
  margin-bottom: 30px;
}

.btn-sign_in {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px;
  box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.2);
  margin-right: 50px;
}
