[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pytest = "*"

[packages]
flask = "*"
flask-cors = "*"
flask-mail = "*"
flask-bcrypt = "*"
pytest = "*"
pytest-cov = "*"
pymongo = "*"
dnspython = "*"
python-dotenv = "*"
bcrypt = "*"

[requires]
python_version = "3"

[scripts]
dev = "python app.py"
test = "pytest ."
coverage = "pytest --cov-report term-missing --cov=."
