html {
  position: relative;
  min-height: 100%;
  text-decoration: none !important;
}

footer {
  background-color: orange;
  position: absolute;
  text-decoration: none;
  left: 0;
  bottom: 0;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.footer-top {
  background-size: cover;
  background-position: center;
}

.footer-brand-wrapper {
  position: relative;
  height: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid hsl(220, 14%, 8%);
  margin-bottom: 50px;
}

.footer-quicklinks {
  height: 80px;
}

.footer-brand-wrapper::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  background: hsla(0, 0%, 50%, 0.2);
}

.footer-top .logo {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 50px;
}

.footer-menu-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 40px;
  margin-bottom: 20px;
}

.footer-menu-link {
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 10px;
}

.footer-menu-link:is(:hover, :focus) {
  color: red;
}

.quicklink-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.quicklink-item {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 10px;
}

.quicklink-item:is(:hover, :focus) {
  color: red;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-social-link {
  width: 35px;
  height: 35px;
  display: grid;
  padding: 15px;
  place-items: center;
  font-size: 14px;
  border-radius: 50%;
}

.footer-social-link:is(:hover, :focus) {
  color: red;
}

.footer-bottom {
  height: 20px;
  margin-top: 40px;
  padding: 10px 0;
  background: honeydew;
  text-align: center;
}

.copyright {
  text-transform: uppercase;
  padding: 10px;
  margin-top: -10px;
}

/* responsive larger than 768px */

@media (max-width: 768px) {
  .footer-menu-wrapper,
  .footer-quicklinks,
  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
  }

  .footer-menu-list {
    max-width: 50%;
    justify-content: center;
    column-gap: 16px;
    margin-bottom: 0;
  }

  .quicklink-list {
    margin-bottom: 0;
    column-gap: 15px;
  }

  .copyright {
    margin-bottom: 0;
    text-align: center;
  }
}
