@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --green: #105652;
    --red: #b91646;
    --yellow: #f9c041;
    --beige: #fbf3e4;
    --beige-darker: #dfd8ca;
    --text-dark: #0c413e;
    --text-light: #fbf3e4;

    --opacity: rgba(19, 10, 10, 0.5);
    --font-accent: "Bebas Neue", cursive;
    --font-primary: "Poppins", sans-serif;
}
.welcome-section {
    background-color: #f9c041;
    width: 100%;
    height: 100%;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.user-welcome {
    padding-bottom: 15px;
}

.gig-requests {
    width: 90%;
    height: 100%;
    padding: 10px;
    margin: auto;
}

/* STATUS BAR */

.projects-status {
    display: flex;
}

.item-status {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

.item-status .status-type:after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translatey(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid var(--red);
}

.status-number {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: var(--yellow);
}

.status-type {
    position: relative;
    padding-right: 24px;
    color: var(--green);
}

.app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--app-container);
    transition: .2s;
    max-width: 1800px;
}

.create-gig {
    display: flex;
    text-align: center;
    margin-left: 14.5%;
    background-color: var(--red);
    border-radius: 25px;
    border-style: #650d28 solid;
    width: 70%;
    padding: 10px;
    margin-bottom: 5px;
}

.create-gig:hover {
    opacity: 0.7;
}
