/* 

Fonts
Variables
Generic

LAYOUTS
-Header
-Footer

COMPONENTS
-FooterCTA

PAGES
-LandingPage
-AuthPage
-AllArtistPage
-ArtistPortfolioPage

Media Queries 

*/

/**********************************************************************/
/* Fonts */
/**********************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/**********************************************************************/
/* Variables */
/**********************************************************************/
:root {
  --green: #105652;
  --red: #b91646;
  --yellow: #f9c041;
  --beige: #fbf3e4;
  --beige-darker: #dfd8ca;
  --text-dark: #0c413e;
  --text-light: #fbf3e4;

  --font-accent: "Bebas Neue", cursive;
  --font-primary: "Poppins", sans-serif;
}

/**********************************************************************/
/* Generic */
/**********************************************************************/
body {
  background-color: var(--beige);
  color: var(--text-dark);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.primary-cta-btn {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  color: var(--text-dark);
  border-radius: 50px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.primary-cta-btn:hover {
  background-color: transparent;
  border: 2px solid var(--yellow);
}

.secondary-cta-btn {
  background-color: transparent;
  border: 2px solid var(--green);
  color: var(--text-dark);
  border-radius: 50px;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.secondary-cta-btn:hover {
  background-color: var(--green);
  color: var(--text-light);
}

/************************************************************************/
/* LAYOUTS */
/************************************************************************/

/**********************************************************************/
/* Header */
/**********************************************************************/
header {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  background-color: var(--beige);
  height: 100px;
  width: 100%;
  box-shadow: 0px 0px 30px rgba(16, 86, 82, 0.25);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.navbar-logo {
  height: 80px;
}

.navbar-btns {
  display: flex;
}

.fa-regular {
  margin-right: 5px;
}

/**********************************************************************/
/* Footer */
/**********************************************************************/

footer {
  background-color: var(--green);
  color: var(--text-light);
}

.footer-top {
  background-color: var(--green);
  color: var(--text-light);
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.footer-logo {
  height: 120px;
  display: flex;
  margin: auto;
}

.footer-slogan {
  text-align: center;
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.footer-line-container {
  display: flex;
  justify-content: center;
}

.footer-line {
  width: 80%;
  background-color: var(--beige-darker);
  opacity: 1;
  height: 2px;
  border-radius: 2px;
}

.footer-sitemap {
  list-style-type: none;
  line-height: 250%;
  font-size: 16px;
  padding-bottom: 20px;
}

.footer-menu-link {
  cursor: pointer;
  text-align: center;
}

.footer-menu-link:hover {
  text-decoration: underline;
}

.footer-social-links {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.footer-facebook-link,
.footer-instagram-link,
.footer-soundcloud-link {
  display: flex;
  justify-content: center;
  background-color: var(--beige);
  color: var(--green);
  border-radius: 10px;
  cursor: pointer;
}

.footer-facebook-link {
  font-size: 25px;
  align-items: end;
  height: 35px;
  width: 35px;
}

.footer-instagram-link {
  height: 40px;
  width: 40px;
  align-items: center;
  font-size: 51px;
}

.footer-soundcloud-link {
  font-size: 21px;
  align-items: center;
  height: 35px;
  width: 35px;
}

.footer-copyright {
  background-color: var(--text-dark);
  color: var(--beige-darker);
  font-size: 14px;
  text-align: center;
}

.copyright {
  padding: 10px;
}

.copyright a {
  color: var(--text-light);
}

.copyright a:hover {
  text-decoration: none;
}

/************************************************************************/
/* COMPONENTS */
/************************************************************************/

/************************************************************************/
/* Footer-CTA */
/************************************************************************/

#footer-cta {
  background-color: var(--beige-darker);
  justify-content: center;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#footer-cta-title {
  font-family: var(--font-accent);
  color: var(--text-dark);
  font-size: 36px;
  padding-top: 15px;
  padding-bottom: 20px;
}

#create-account {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 0;
}

.createAccountNow {
  text-decoration: underline;
  cursor: pointer;
}

.createAccountNow:hover {
  text-decoration: none;
}

/************************************************************************/
/* PAGES */
/************************************************************************/

/************************************************************************/
/* LandingPage */
/************************************************************************/
.hero-section {
  padding-top: 10px;
  padding-bottom: 20px;
}

.hero-title,
.gigs-title,
.artists-title {
  font-family: "Bebas Neue", cursive;
}

.hero-image {
  width: 100%;
  border-radius: 25px;
}

.hero-btn-microcopy {
  font-size: 12px;
  margin-top: 10px;
}

.gig-section {
  background-color: var(--beige-darker);
}

.gig-section,
.artist-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.all-gig-btn-container,
.all-artist-btn-container {
  display: flex;
  justify-content: flex-end;
}

.gallery-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin: -15px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  list-style-type: none;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.gallery-list li {
  min-width: 65%;
  scroll-snap-align: center;
}

.gallery-item {
  border-radius: 25px;
  background-color: var(--beige);
}

.gallery-item-artist {
  border-radius: 25px;
  background-color: var(--beige-darker);
}

.gallery-item img,
.gallery-item-artist img {
  width: 100%;
  border-radius: 25px 25px 0px 0px;
}

.gallery-item-artist-media img {
  width: 100%;
  border-radius: 25px;
}

.gallery-content {
  padding: 10px;
}

.gallery-item-title,
.gallery-item-price,
.gallery-item-rating {
  font-weight: 700;
}

.gallery-item-title,
.gallery-item-description,
.gallery-item-price,
.gallery-item-rating {
  font-size: 10px;
}

.gallery-rating-price-row {
  display: flex;
  justify-content: space-between;
}

/* Note for Prishal: above has been checked */

::-webkit-scrollbar-track {
  background: var(--green);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.has-scrollbar::-webkit-scrollbar-button {
  color: orange;
  width: 40px;
}

/************************************************************************/
/* AuthPage  */
/************************************************************************/

.containerF {
  font-family: var(--font-primary);
  font-size: small;
  background-color: var(--beige);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 700px;
  max-width: 100%;
  min-height: 480px;
  left: 20%;
  margin: 50px;
}

.header-authpage {
  font-weight: bold;
  margin: 0;
}

.form-container span {
  font-size: 12px;
}

.social {
  color: var(--green);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.auth {
  border-radius: 20px;
  border: #4e0d21 solid;
  background-color: var(--red);
  color: black;
  font-weight: bolder;
  padding: 10px 30px;
  width: 50%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  transition: transform 80ms ease-in;
}

.auth:hover {
  opacity: 0.8;
}

.auth:active {
  transform: scale(0.95);
}

button.ghost {
  border-radius: 20px;
  border: black solid 1px;
  background-color: transparent;
  color: black;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.auth-form {
  background-color: var(--beige);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.auth-info {
  background-color: #dfd8ca;
  border: none;
  border-radius: 10px;
  padding: 12px 15px 10px;
  margin: 5px 0;
  width: 100%;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.containerF.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.containerF.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.containerF.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #edcc84;
  background: -webkit-linear-gradient(to right, #edcc84, #edcc84);
  background: linear-gradient(to right, #edcc84, #edcc84);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: black;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.containerF.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.containerF.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.containerF.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.social-container a:hover {
  color: var(--red);
  text-decoration: none;
  background-color: #1056525e;
}

/*********************************************
AllArtistsPage
*********************************************/
.main-section {
  background-color: #f9c041;
  width: 100%;
  height: 100%;
  text-align: justify;
  margin: auto;
}

.main-text {
  padding: 60px;
}

.artist-list {
  width: 90%;
  height: 100%;
  padding: 10px;
  margin: auto;
}

.artist-card {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #f9c041;
  margin-bottom: 30px;
  border-radius: 25px;
}

.sort-drop {
  text-align: right;
  padding-right: 10px;
  padding: 5px;
}

.artist-image-card {
  height: 120px;
  width: 100%;
  background-color: #00000025;
  position: relative;
  border-radius: 25px 25px 0px 0px;
}

.play-button {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.play-button img {
  width: 2vw;
}

.flair-section {
  position: absolute;
  top: 10px;
  right: 2vw;
  background-color: #b91646;
  border-radius: 9px;
  width: 5rem;
}

.flair-section p {
  text-align: center;
  margin: 3px;
}

.artist-information {
  padding: 20px;
  text-align: justify;
}

.artist-info-box {
  width: 100%;
  margin: auto;
  padding-bottom: 7px;
}

.artist-pricing {
  display: inline-flex;
  width: 80%;
}

.artist-view-more {
  display: inline-flex;
  width: 20%;
  text-align: right;
}

.artist-view-more a {
  text-decoration: none;
  font-weight: bold;
}

/**********************************************************************/
/* ArtistPortfolioPage */
/**********************************************************************/
#artist-intro-section {
  background-color: var(--beige-darker);
  padding-top: 10px;
  padding-bottom: 20px;
}

.back-to-all-artists {
  cursor: pointer;
  display: inline;
}

.back-to-all-artists:hover {
  text-decoration: underline;
}

.artist-name,
.artist-media-title,
.artist-review-title {
  font-size: 24px;
  font-weight: 700;
}

.artist-genre {
  font-size: 16px;
  font-weight: 700;
}

.artist-price {
  font-size: 16px;
  font-weight: 700;
}

.artist-stars,
.review-stars {
  color: var(--green);
}

.artist-stars-average {
  color: var(--text-dark);
  font-size: 14px;
}

.artist-image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: var(--beige);
  color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-icon {
  font-size: 3rem;
}

.artist-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}

#artist-media {
  background-color: var(--beige);
}

.media-audio {
  background-color: var(--beige-darker);
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.play-btn {
  margin-left: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.play-btn:hover {
  color: var(--red);
}
.audio-name {
  display: flex;
  align-items: center;
}

.artist-review-section {
  background-color: var(--beige-darker);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.review {
  background-color: var(--beige-darker);
  padding: 20px;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.review-title {
  font-weight: 700;
}

.review-title,
.review-text {
  font-size: 16px;
}

.review-from-name {
  display: flex;
  justify-content: end;
  font-style: italic;
}

/* Media Queries */
/************************************************************************/

/* responsive larger than 575px */
@media (min-width: 575px) {
  .gallery .container {
    max-width: unset;
  }

  .gallery-list li {
    min-width: 80%;
  }
}

/* responsive larger than 768px */
@media (min-width: 768px) {
  .gallery-list {
    padding-bottom: 30px;
  }

  .gallery-list li {
    min-width: 70%;
  }

  .container {
    max-width: 700px;
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 150px;
  }

  .footer-menu-wrapper,
  .footer-quicklinks,
  .footer-bottom .footer-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
  }

  .footer-menu-list {
    max-width: 50%;
    justify-content: center;
    column-gap: 16px;
    margin-bottom: 0;
  }

  .footer-menu-link {
    padding: 10px;
  }

  .quicklink-list {
    margin-bottom: 0;
    column-gap: 15px;
  }

  .copyright {
    margin-bottom: 0;
    text-align: center;
  }
}

/* responsive larger than 1024px */
@media (min-width: 1024px) {
  .gallery-list {
    gap: 30px;
    padding: 40px;
  }

  .gallery-list li {
    min-width: 50%;
  }

  .container {
    max-width: 1000px;
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 200px;
  }
}
