/* 

Fonts
Variables
Generic

LAYOUTS
-Header
-Footer

COMPONENTS
-FooterCTA

PAGES
-LandingPage
-AuthPage
-AllArtistPage
-ArtistPortfolioPage
-YourPortfolioPage

Media Queries 

*/

/**********************************************************************/
/* Fonts */
/**********************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/**********************************************************************/
/* Variables */
/**********************************************************************/
:root {
  --green: #105652;
  --red: #b91646;
  --yellow: #f9c041;
  --beige: #fbf3e4;
  --beige-darker: #dfd8ca;
  --text-dark: #0c413e;
  --text-light: #fbf3e4;

  --font-accent: "Bebas Neue", cursive;
  --font-primary: "Poppins", sans-serif;
}

/**********************************************************************/
/* Generic */
/**********************************************************************/
body {
  background-color: var(--beige) !important;
  color: var(--text-dark) !important;
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
}

.primary-cta-btn {
  background-color: var(--yellow) !important;
  border: 2px solid var(--yellow) !important;
  color: var(--text-dark) !important;
  border-radius: 50px !important;
  width: 150px;
  height: 50px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-weight: 700 !important;
}

.primary-cta-btn:hover {
  background-color: transparent !important;
  border: 2px solid var(--yellow) !important;
}

.secondary-cta-btn {
  background-color: transparent !important;
  border: 2px solid var(--green) !important;
  color: var(--text-dark) !important;
  border-radius: 50px !important;
  width: 180px;
  height: 50px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-weight: 700 !important;
}

.secondary-cta-btn:hover {
  background-color: var(--green) !important;
  color: var(--text-light) !important;
}

.navbar-btns {
  width: auto;
  font-size: 12px;
  margin-left: 5px;
}

/************************************************************************/
/* LAYOUTS */
/************************************************************************/

/**********************************************************************/
/* Header */
/**********************************************************************/
header {
  position: sticky;
  position: -webkit-sticky;
  /* Safari */
  top: 0;
  background-color: var(--beige) !important;
  height: 100px;
  width: 100%;
  box-shadow: 0px 0px 30px rgba(16, 86, 82, 0.25);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.navbar-logo {
  height: 80px;
}

.navbar-btns {
  display: flex;
}

/* .navbar-nav {
  align-items: center !important;
}

.container-hamburger {
  display: inline-block;
  cursor: pointer;
}

.navbar-dark .navbar-toggler {
  border-color: rgb(0 123 255 / 0%);
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #db0000;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
} */

.fa-regular {
  margin-right: 5px;
}

/**********************************************************************/
/* Footer */
/**********************************************************************/

footer {
  background-color: var(--green);
  color: var(--text-light);
}

.footer-top {
  background-color: var(--green);
  color: var(--text-light);
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.footer-logo {
  height: 120px;
  display: flex;
  margin: auto;
  margin-top: auto;
  margin-top: 20px;
}

.footer-slogan {
  text-align: center;
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.footer-line-container {
  display: flex;
  justify-content: center;
}

.footer-line {
  width: 80%;
  background-color: var(--beige-darker);
  opacity: 1;
  height: 2px;
  border-radius: 2px;
}

.footer-sitemap-2 {
  padding-bottom: 20px;
}

.footer-sitemap-1,
.footer-sitemap-2 {
  line-height: 250%;
}

.footer-menu-link {
  cursor: pointer;
  text-align: center;
}

.footer-menu-link:hover {
  text-decoration: underline;
}

.footer-social-links {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding-bottom: 20px;
}

.footer-facebook-link,
.footer-instagram-link,
.footer-soundcloud-link {
  display: flex;
  justify-content: center;
  background-color: var(--beige);
  color: var(--green);
  border-radius: 10px;
  cursor: pointer;
}

.footer-facebook-link {
  font-size: 25px;
  align-items: end;
  height: 35px;
  width: 35px;
}

.footer-instagram-link {
  height: 40px;
  width: 40px;
  align-items: center;
  font-size: 51px;
}

.footer-soundcloud-link {
  font-size: 21px;
  align-items: center;
  height: 35px;
  width: 35px;
}

.footer-copyright {
  background-color: var(--text-dark);
  color: var(--beige-darker);
  font-size: 14px;
  text-align: center;
}

.copyright {
  padding: 10px;
  margin-bottom: 0;
}

.copyright a {
  color: var(--text-light);
}

.copyright a:hover {
  text-decoration: none;
}

/************************************************************************/
/* Footer-CTA */
/************************************************************************/

#footer-cta {
  background-color: var(--beige-darker);
}

.footer-cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#footer-cta-title {
  font-family: var(--font-accent);
  color: var(--text-dark);
  font-size: 36px;
  padding-top: 15px;
  padding-bottom: 20px;
}

#create-account {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 0;
}

.createAccountNow {
  text-decoration: underline;
  cursor: pointer;
}

.createAccountNow:hover {
  text-decoration: none;
}

/* Chat Modal Component */

.chat-modal-box {
  position: fixed;
  bottom: 0;
  right: 3%;
  min-width: 300px;
  min-height: 300px;
  width: 20vw;
  height: 50vh;
  background-color: var(--beige);
  border-radius: 10px 10px 0px 0px;
  border-style: solid;
  border-bottom-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}

.chat-modal-section-top {
  height: 10%;
  width: 100%;
  background-color: var(--beige-darker);
  border-radius: 10px 10px 0px 0px;
  position: relative;
}

.chat-modal-top-close {
  width: 50px;
  position: absolute;
  right: 15px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.chat-modal-collapse {
  float: left;
}

.chat-modal-close {
  float: right;
  cursor: pointer;
}

.chat-modal-section-middle {
  height: 75%;
  margin: auto;
  position: relative;
}

.chat-modal-chat-box {
  background-color: white;
  width: 96%;
  height: 96%;
  padding: 2px;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border-style: solid;
  border-color: #00000023;
  border-width: 1px;
}

.chat-modal-section-bottom {
  height: 15%;
  width: 100%;
  overflow: auto;
  display: inline;
}

.chat-modal-text-area {
  padding-left: 8px;
  height: 100%;
  width: 85%;
  display: inline-block;
}

.chat-modal-send-icon-box {
  width: 15%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.chat-modal-send-button {
  border: 0px !important;
  background-color: none !important;
}

.chat-modal-initialization {
  font-size: small;
  color: grey;
  text-align: center;
}

/* chat balloon send style */

.chat-balloon-send-main {
  position: relative;
  float: right;
  background-color: var(--beige);
  min-width: 50%;
  max-width: 70%;
  margin-right: 5%;
  border-radius: 5px;
  margin-bottom: 12px;
}

.chat-balloon-send-text-box {
  position: static;
  padding: 5px;
}

.chat-baloon-send-message {
  word-wrap: break-word;
  text-align: left;
  font-size: 1em;
}

.chat-baloon-send-time {
  float: right;
}

.chat-baloon-time {
  font-size: small;
  color: grey;
  padding: 5px;
}

/* chat balloon received style */

.chat-balloon-received-main {
  position: relative;
  float: left;
  background-color: var(--beige-darker);
  min-width: 50%;
  max-width: 70%;
  margin-left: 5%;
  border-radius: 5px;
  margin-bottom: 12px;
}

.chat-balloon-received-text-box {
  position: static;
  padding: 5px;
}

.chat-baloon-received-message {
  word-wrap: break-word;
  text-align: left;
  font-size: 1em;
}

.chat-baloon-received-time {
  float: right;
}

/************************************************************************/
/* PAGES */
/************************************************************************/

/************************************************************************/
/* LandingPage */
/************************************************************************/

.hero-section {
  padding-top: 10px;
  padding-bottom: 20px;
}

.hero-title,
.gigs-title,
.artists-title,
.pending-request-title,
.accepted-request-title {
  font-family: "Bebas Neue", cursive;
}

.hero-image {
  width: 100%;
  border-radius: 25px;
}

.hero-btn-microcopy {
  font-size: 12px;
  margin-top: 10px;
}

.artist-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.all-artist-btn-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
}

.gallery-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin: -15px;
  scrollbar-width: thin;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  list-style-type: none;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.gallery-all-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 15px;
}

.all-artist-gallery-list {
  list-style-type: none;
}

.gallery-all-list .gallery-item-artist {
  max-width: 100%;
}

.gallery-list .gallery-item-artist {
  min-width: 65%;
  scroll-snap-align: center;
  height: 400px;
}

.gallery-item {
  border-radius: 25px;
  background-color: var(--beige);
}

.gallery-item-artist {
  border-radius: 25px;
  background-color: var(--beige-darker);
}

.gallery-item img,
.gallery-item-artist img {
  border-radius: 25px 25px 0 0;
  max-height: 175px;
  width: 100%;
  object-fit: cover;
  height: 50%;
}

.gallery-item-artist-media img {
  width: 100%;
  border-radius: 25px;
  max-height: 250px;
}

.gallery-content {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.gallery-item-title {
  font-size: 14px;
}

.gallery-item-title,
.gallery-item-price,
.gallery-item-rating {
  font-weight: 700;
}

.gallery-item-description,
.gallery-item-price,
.gallery-item-rating {
  font-size: 12px;
}

.container-containing-overflow-for-text {
  height: 95px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: normal;
  position: relative;
}

.gradient-that-makes-thing-pretty-for-overflow {
  background-image: linear-gradient(to top, var(--beige-darker), transparent);
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.gallery-rating-price-row {
  display: flex;
  justify-content: space-between;
}

.gallery-item-view-more-link {
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}

.gallery-item-view-more-link:hover {
  text-decoration: none;
}

/* Note for Prishal: above has been checked */

::-webkit-scrollbar-track {
  background: var(--beige-darker);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar {
  height: 3px;
}

.has-scrollbar::-webkit-scrollbar-button {
  color: var(--green);
  width: 40px;
}

/************************************************************************/
/* AuthPage  */
/************************************************************************/

.containerF {
  font-family: var(--font-primary);
  font-size: small;
  background-color: var(--beige);
  border-radius: 10px;
  position: static;
  overflow: hidden;
  max-width: 700px;
  min-height: 480px;
  margin-bottom: 200px;
}

.header-authpage {
  font-weight: bold;
  margin: 0;
}

.form-container span {
  font-size: 12px;
}

.social {
  color: var(--green);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.auth {
  border-radius: 20px;
  border: 3px solid var(--red);
  background-color: var(--red);
  color: var(--text-dark);
  font-weight: bolder;
  padding: 10px 30px;
  width: 50%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  transition: transform 80ms ease-in;
}

.auth:hover {
  opacity: 0.8;
}

.auth:active {
  transform: scale(0.95);
}

button.ghost {
  border-radius: 20px;
  border: black solid 1px;
  background-color: transparent;
  color: black;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.auth-form {
  background-color: var(--beige);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
  height: 500px;
}

.hero-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.auth-info {
  background-color: #dfd8ca;
  border: none;
  border-radius: 10px;
  padding: 12px 15px 10px;
  margin: 5px 0;
  width: 100%;
}

.form-container {
  position: absolute;
  top: 100px;
  height: 50%;
}

.sign-in-container {
  left: 0;
  width: 100%;
  z-index: 2;
}

.containerF.right-panel-active .sign-in-container {
  transform: translateX(0%);
}

.sign-up-container {
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
}

.containerF.right-panel-active .sign-up-container {
  transform: translate(0%);
  opacity: 1;
  z-index: 5;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  height: 60%;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 580px;
}

.containerF.right-panel-active .overlay-container {
  transform: translateY();
}

.overlay {
  background: var(--yellow);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: var(--text-dark);
  position: relative;
  left: -100%;
  height: 50%;
  width: 200%;
}

.containerF.right-panel-active .overlay {
  left: 0;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
}

.overlay-left {
  transform: translateY(-20%);
}

.containerF.right-panel-active .overlay-left {
  transform: translateY(0);
}

.overlay-right {
  right: 0;
  transform: translateY(0);
}

.containerF.right-panel-active .overlay-right {
  transform: translateX(100%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.social-container a:hover {
  color: var(--red);
  text-decoration: none;
  background-color: #1056525e;
}

/*********************************************
AllArtistsPage
*********************************************/
.all-artists-section {
  background-color: var(--beige-darker);
  width: 100%;
  height: 100%;
  text-align: justify;
  margin: auto;
}

.all-artist-hero-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.all-artist-title {
  font-weight: 700;
  font-family: "Bebas Neue", cursive;
}

.sort-drop {
  text-align: right;
}

.sort-drop-list {
  background-color: var(--beige-darker);
  border-radius: 25px;
  width: 140px;
}

/**********************************************************************/
/* ArtistPortfolioPage */
/**********************************************************************/
#artist-intro-section {
  background-color: var(--beige-darker);
  padding-top: 10px;
  padding-bottom: 20px;
}

.back-to-all-artists {
  cursor: pointer;
  display: inline;
}

.back-to-all-artists:hover {
  text-decoration: underline;
}

.play-genre-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artist-genre-container {
  background-color: var(--beige);
  color: var(--text-dark);
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.artist-genre {
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}

.artist-name,
.artist-media-title,
.artist-review-title {
  font-size: 24px;
  font-weight: 700;
}

.artist-price {
  font-size: 16px;
  font-weight: 700;
}

.artist-stars,
.review-stars {
  color: var(--green);
}

.artist-stars-average {
  color: var(--text-dark);
  font-size: 14px;
}

.artist-image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: var(--beige);
  color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-icon {
  font-size: 3rem;
}

.artist-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}

#artist-media {
  background-color: var(--beige);
}

.media-audio {
  background-color: var(--beige-darker);
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.play-pause-btn {
  font-size: 2rem;
  cursor: pointer;
}

.play-pause-btn:hover {
  color: var(--red);
}

.audio-name {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.artist-image-availability {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.artist-availability {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--green);
  color: var(--text-light);
  border-radius: 25px;
}

.artist-review-section {
  background-color: var(--beige-darker);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.review {
  background-color: var(--beige-darker);
  padding: 20px;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.review-title {
  font-weight: 700;
}

.review-title,
.review-text {
  font-size: 16px;
}

.review-from-name {
  display: flex;
  justify-content: end;
  font-style: italic;
}

/**********************************************************************/
/* YourPortfolioPage */
/**********************************************************************/
.your-portfolio-hero-section {
  background-color: var(--beige-darker);
  width: 100%;
  height: 100%;
  text-align: justify;
  margin: auto;
}

.your-portfolio-hero-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.your-portfolio-title {
  font-weight: 700;
  font-family: "Bebas Neue", cursive;
}

.your-portfolio-container {
  max-width: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.your-portfolio-form,
.artist-form {
  display: flex;
  flex-direction: column;
}

#name,
#email,
#current-password,
#new-password,
#genre,
#price,
#artist-description {
  border-radius: 25px;
  border: 2px solid var(--green);
  background-color: transparent;
  margin-bottom: 10px;
}

#artist-upload-image-video,
#artist-upload-audio {
  margin-bottom: 10px;
}

.update-btn,
.delete-btn {
  border-radius: 50px;
  margin-bottom: 10px;
  font-weight: 700;
}

.update-btn {
  border: 2px solid var(--yellow);
  background-color: var(--yellow);
  color: var(--green);
}

.update-btn:hover {
  border: 2px solid var(--yellow);
  background-color: transparent;
  color: var(--green);
}

.delete-btn {
  border: 2px solid var(--red);
  background-color: transparent;
  color: var(--red);
}

.delete-btn:hover {
  border: 2px solid var(--red);
  background-color: var(--red);
  color: var(--text-light);
}

/**********************************************************************/
/* AuthPage */
/**********************************************************************/

/* Dashboard Heading */

.dashboard-section {
  background-color: var(--beige-darker);
}

.sign-in-title,
.sign-up-title {
  font-weight: 700;
  font-family: "Bebas Neue", cursive;
}

.profile-header {
  width: 100%;
  display: flex;
  height: 210px;
  position: relative;
  font: var(--font-primary);
}

.profile-img {
  float: left;
  width: 340px;
  height: 10px;
}

.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 5px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 40px;
  top: 30px;
  background: #fff;
}

.profile-nav-info {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.profile-nav-info h3 {
  font-size: 2rem;
  font-weight: bold;
}

.profile-nav-info .projectStatus {
  display: flex;
  font-weight: bold;
}

.portfolio-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.profile-option {
  margin-bottom: 35px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
  background: var(--red);
  color: white;
  text-decoration-line: none;
}

.fa-pencil {
  padding-left: 5px;
}

.profile-option:hover {
  background: #fff;
  color: var(--green);
  border: 1px solid var(--red);
}

.profile-option:hover span {
  background: var(--red);
}

.item-status {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.item-status .status-type:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translatey(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid var(--red);
}

.status-number {
  font-size: 20px;
  line-height: 30px;
  color: var(--green);
}

.status-type {
  position: relative;
  padding-right: 24px;
  color: var(--green);
}

/* PENDING REQUESTS */

.pending-requests {
  margin-top: 10px;
  width: 300px;
  padding-block: 10px;
  text-align: center;
  background-color: var(--green);
  border-radius: 15px;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  border-radius: 10px;
}

.pending-requests:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #2b8480;
  z-index: -1;
  transition: width 200ms ease-in-out;
}

.pending-requests:hover {
  color: var(--text-light);
}

.pending-requests:hover:after {
  width: 110%;
}

/* ACCEPTED GIGS */

.name-dropdown {
  display: flex;
  justify-content: space-between;
}

.accepted-container {
  background-color: var(--beige-darker);
  border-radius: 25px;
  width: 83%;
  padding: 20px;
}

.fa-message {
  padding-right: 10px;
}

.request-details {
  line-height: 1.8rem;
  background-color: var(--beige);
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.request-details span {
  font-size: 15px;
}

.threedots:after {
  content: "...";
  font-size: 50px;
}

.drop-down-tg {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: -40px !important;
}

.edit-button {
  background-color: transparent;
  border: 2px solid var(--green);
  color: var(--text-dark);
  border-radius: 50px;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.edit-button:hover {
  background-color: var(--green);
  color: var(--text-light);
}

.portfolio-edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: var(--text-dark);
  left: 30px;
  border: 2px solid var(--green);
  border-radius: 50px;
  width: 150px;
  height: 50px;
  font-weight: 700;
}

.portfolio-edit-btn:hover {
  background-color: var(--green);
  border: 2px solid var(--green);
  color: var(--text-light);
}

/* MODAL  */

.outer-dashBrd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate(0, 0);
  display: none;
}

.active-dashBrd {
  display: block;
}

.inner-dashBrd {
  position: relative;
  z-index: 1;
  transform: translate(0, 0);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 60px);
  flex-direction: column;
  padding: 30px;
}

.header-dashBrd {
  line-height: 1;
  height: 40px;
  background: #ccc;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.content-dashBrd {
  z-index: 1;
  line-height: 1;
  width: 100%;
  background: #eee;
  min-height: 100px;
  padding: 15px;
}

.overlay-dashBrd {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  padding: 0;
  display: block;
  width: 100%;
  border: 0;
}

.pending-request-section {
  padding-top: 100px;
}

/************************************************************************/
/* Media Queries */
/************************************************************************/

/* responsive larger than 575px */
@media (min-width: 575px) {}

/* responsive larger than 768px */
@media (min-width: 768px) {
  .gallery-all-list {
    gap: 60px;
  }

  .gallery-all-list .gallery-item-artist {
    max-width: 40%;
  }

  .gallery-list .gallery-item-artist {
    min-width: 40%;
    height: 400px;
  }

  .containerF {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }

  .footer-logo {
    height: 120px;
    display: flex;
    margin: auto;
  }

  /* Prishal from here
 */
  .containerF.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    background: var(--yellow);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: var(--text-dark);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .containerF.right-panel-active .overlay {
    transform: translateX(0%);
  }

  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-left {
    transform: translateX(0%);
    left: 0;
  }

  .containerF.right-panel-active .overlay-left {
    transform: translateX(0%);
  }

  .overlay-right {
    right: 0;
    transform: translateX(0);
  }

  .containerF.right-panel-active .overlay-right {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
  }

  .auth-form {
    background-color: var(--beige);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }

  .hero-container {
    flex-direction: row-reverse;
  }
}

/* responsive larger than 1024px */
@media (min-width: 1024px) {
  .hero-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero-container {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  .hero-image {
    width: 50%;
  }

  .hero-content {
    margin: 20px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .gallery-all-list {
    gap: 60px;
  }

  .gallery-all-list .gallery-item-artist {
    max-width: 30%;
  }

  .gallery-list .gallery-item-artist {
    min-width: 25%;
    height: 400px;
  }

  .footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .footer-logo {
    margin: 0;
    display: inline-flex;
  }

  .footer-sitemap-1 {
    padding-bottom: 20px;
  }

  .containerF.right-panel-active .sign-up-container {
    transform: translateX(100%);
  }
}

@media screen and (max-width: 800px) {
  .profile-img img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 5px solid #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 20px;
    top: 30px;
    background: #fff;
  }

  .profile-nav-info {
    padding-left: 150px;
    display: block;
    padding-block: 35px;
  }
}

/* Overriding code - do not put anything below this  */

.hide {
  display: none;
}

/* Overriding code - do not put anything below this  */

/* Chat Modal Component */

.chat-modal-box {
  position: fixed;
  bottom: 0;
  right: 3%;
  min-width: 300px;
  min-height: 300px;
  width: 20vw;
  height: 50vh;
  background-color: var(--beige);
  border-radius: 10px 10px 0px 0px;
  border-style: solid;
  border-bottom-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}

.chat-modal-section-top {
  height: 10%;
  width: 100%;
  background-color: var(--beige-darker);
  border-radius: 10px 10px 0px 0px;
  position: relative;
}

.chat-modal-top-close {
  width: 50px;
  position: absolute;
  right: 15px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.chat-modal-collapse {
  float: left;
}

.chat-modal-close {
  float: right;
}

.chat-modal-section-middle {
  height: 75%;
  margin: auto;
  position: relative;
}

.chat-modal-chat-box {
  background-color: white;
  width: 96%;
  height: 96%;
  padding: 2px;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border-style: solid;
  border-color: #00000023;
  border-width: 1px;
  overflow-y: auto;
}

.chat-modal-section-bottom {
  height: 15%;
  width: 100%;
  overflow: auto;
  display: inline;
}

.chat-modal-text-area {
  padding-left: 8px;
  height: 100%;
  width: 85%;
  display: inline-block;
}

.chat-modal-send-icon-box {
  width: 15%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.chat-modal-send-button {
  border: 0px !important;
  background-color: none !important;
}

.chat-modal-initialization {
  font-size: small;
  color: grey;
  text-align: center;
}

/* chat balloon send style */

.chat-balloon-send-main {
  position: relative;
  float: right;
  background-color: var(--beige);
  min-width: 50%;
  max-width: 70%;
  margin-right: 5%;
  border-radius: 5px;
  margin-bottom: 12px;
}

.chat-balloon-send-text-box {
  position: static;
  padding: 5px;
}

.chat-baloon-send-message {
  word-wrap: break-word;
  text-align: left;
  font-size: 1em;
}

.chat-baloon-send-time {
  float: right;
}

.chat-baloon-time {
  font-size: small;
  color: grey;
  padding: 5px;
}

/* chat balloon received style */

.chat-balloon-received-main {
  position: relative;
  float: left;
  background-color: var(--beige-darker);
  min-width: 50%;
  max-width: 70%;
  margin-left: 5%;
  border-radius: 5px;
  margin-bottom: 12px;
}

.chat-balloon-received-text-box {
  position: static;
  padding: 5px;
}

.chat-baloon-received-message {
  word-wrap: break-word;
  text-align: left;
  font-size: 1em;
}

.chat-baloon-received-time {
  float: right;
}

/* create triangoles */
