@import "./variables.css";
/**********/
/* Generic */
/**********/
body {
  padding: 0;
}

/**********/
/* Header */
/**********/
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 3px 27px hsla(0, 0%, 0%, 0.5);
  padding: 20px;
  z-index: 4;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.5);
}

.navbar-link {
  position: relative;
  color: var(--green);
  padding: 34px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.navbar-list {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid hsla(0, 0%, 50%, 0.1);
  margin-bottom: 30px;
}

.btn-sign_in {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px;
  box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.2);
  margin-right: 50px;
}

/**********/
/* Footer */
/**********/
html {
  position: relative;
  min-height: 100%;
}
.footer-menu-wrapper,
.footer-quicklinks,
.footer-bottom .footer-container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--green);
  color: var(--text-light);

  text-decoration: none;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.footer-top {
  background-size: cover;
  background-position: center;
}

.footer-brand-wrapper {
  position: relative;
  height: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid hsl(220, 14%, 8%);
  margin-bottom: 50px;
}

.footer-quicklinks {
  height: 80px;
}

.footer-brand-wrapper::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  background: hsla(0, 0%, 50%, 0.2);
}

.footer-top .logo {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 50px;
}

.footer-menu-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 40px;
  margin-bottom: 20px;
}

.footer-menu-link {
  color: var(--text-light);
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 10px;
}

.footer-menu-link:is(:hover, :focus) {
  color: red;
}

.quicklink-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.quicklink-item {
  color: var(--text-light);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 10px;
}

.quicklink-item:is(:hover, :focus) {
  color: red;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-social-link {
  color: var(--text-light);
  width: 35px;
  height: 35px;
  display: grid;
  padding: 15px;
  place-items: center;
  font-size: 14px;
  border-radius: 50%;
}

.footer-social-link:is(:hover, :focus) {
  color: red;
}

.footer-bottom {
  height: 20px;
  margin-top: 40px;
  padding: 10px 0;
  background-color: var(--text-dark);
  text-align: center;
}

.copyright {
  text-transform: uppercase;
  padding: 10px;
  margin-top: -10px;
}

/**********/
/* ArtistPortfolioPage */
/**********/
#artist-intro {
  background-color: #e9ecef;
}

.back-to-all-artists {
  cursor: pointer;
  display: inline;
}

.artist-name {
  font-size: 24px;
  font-weight: 700;
}

.artist-genre {
  font-size: 16px;
  font-weight: 700;
}

.artist-price {
  font-size: 16px;
  font-weight: 700;
}

.artist-image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #abb5be;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artist-icon {
  font-size: 3rem;
}

/* responsive larger than 768px */

@media (max-width: 768px) {
  .footer-menu-wrapper,
  .footer-quicklinks,
  .footer-bottom .footer-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
  }

  .footer-menu-list {
    max-width: 50%;
    justify-content: center;
    column-gap: 16px;
    margin-bottom: 0;
  }

  .footer-menu-link {
    padding: 10px;
  }

  .quicklink-list {
    margin-bottom: 0;
    column-gap: 15px;
  }

  .copyright {
    margin-bottom: 0;
    text-align: center;
  }
}

/**********/
/* LandingPage */
/**********/

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: calc(100vh - 340px); /*content minus nav and footer*/
}

::-webkit-scrollbar-track {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}

.gallery {
  padding: 60px 0;
}

.gig-gallery {
  background-color: lightgray;
}

.gallery-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin: -15px;
  overflow-x: auto;
  padding-bottom: 15px;
  scroll-snap-type: inline mandatory;
  padding: 15px;
  list-style-type: none;
}

.gallery-list li {
  min-width: 95%;
  scroll-snap-align: center;
}

.gallery-item img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
}

.btn-link:is(:hover, :focus) {
  color: orange;
}

.has-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.has-scrollbar::-webkit-scrollbar-button {
  color: orange;
  width: 40px;
}

/* responsive larger than 575px */

@media (min-width: 575px) {
  .gallery .container {
    max-width: unset;
  }

  .gallery-list li {
    min-width: 80%;
  }
}

/* responsive larger than 768px */

@media (min-width: 768px) {
  .gallery-list {
    padding-bottom: 30px;
  }

  .gallery-list li {
    min-width: 70%;
  }
  .container {
    max-width: 700px;
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 150px;
  }
}

/* responsive larger than 1024px */

@media (min-width: 1024px) {
  .gallery-list {
    gap: 30px;
    padding-inline: 40px;
  }

  .gallery-list li {
    min-width: 50%;
  }
  .container {
    max-width: 1000px;
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 200px;
  }
}

/**********/
/*  */
/**********/
